<div class="container">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <% data = JSON.parse(contacts) %>
      <% data.each|contact| do %>
      <tbody>
        <tr>
          <th scope="row"><% contact.id %></th>
          <td><% contact.first_name %></td>
          <td><% contact.last_name %></td>
          <td<% contact.email %></td>
        </tr>
      </tbody>
    </tabel>
  <% end %>
</div>
